<div class="container">
  <div class="header"><mat-icon>adress-book</mat-icon> Contact </div>
  <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue augue. </div>
  <div class="header"><mat-icon>cart</mat-icon> Cart (1) </div>
  <div class="cart">
    <ng-container *ngIf="(list$ | async).length !== 0;else empty">
      <div class="cart-list">
        <div class="cart-list-wrapper">
          1 item.description
        </div>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="cart-empty"> Cart is empty</div>
    </ng-template>
  </div>
</div>
