<div class="container">
  <div class="logo-container">
    <a [routerLink]="['/home']">LOGO</a>
  </div>
  <div class="actions-container">
    <div class="mobile-menu"><mat-icon (click)="expanded = !expanded">menu</mat-icon></div>
    <ng-container *ngIf="expanded">
      <div> <a class="link-wrapper" routerLinkActive="active" [routerLink]="['/home']">Home</a> </div>
      <div> <a class="link-wrapper" routerLinkActive="active" [routerLink]="['/about']">About</a> </div>
      <div> <a class="link-wrapper" routerLinkActive="active" [routerLink]="['/contact']">Contact</a> </div>
      <div> <mat-icon>search</mat-icon> </div>
    </ng-container>
  </div>
</div>

