@import "../../../assets/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  background: #E5E5E5;
  height: 100%;

  .header {
    height: auto;
    border-bottom: 1px solid $light-text;
  }
  .wrapper {
    flex: 1;
    overflow-x: hidden;
  }

}
