/* You can add global styles to this file, and also import other style files */
@import '/assets/styles/main';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  height: 100vh;
  width: 100vw;
  background: #E5E5E5;
}
